
@{
    ViewData["Title"] = "Book";
}

<h1>@ViewData["Title"]</h1>

<form method="post" action="">
Company Name:<br> 
<input type="text" name="CompanyName" value=""><br>
Contact Name:<br><br>
<input type="text" name="ContactName" value=""><br><br>
<input type="submit" value="Submit" class="submit">
</form> 

