    .explore-section {
        height: 80vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home.png') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        border-radius: 25px;
    }

    .explore-section h2 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .explore-section p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .explore-section .btn {
        font-size: 1.2em;
        padding: 10px 30px;
    }

    .explore-section .btn:hover {
        transform: scale(1.1);
    }

    .book-section {
        height: 80vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hyperspace.jpg') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        border-radius: 25px;
    }

    .book-section h2 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .book-section p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .book-section .btn {
        font-size: 1.2em;
        padding: 10px 30px;
    }

    .book-section .btn:hover {
        transform: scale(1.1);
    }
