html {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, and sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-purple {
  background-color: #672df7;
}

.bg-grey {
    background-color: #cccccc;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #672df7 !important;
}

.uk-text-primary {
    color: white !important;
}

/* palette {
  background-color: #672df7; purple
  background-color: #efede9; white
  background-color: #a09f9c; light grey
  background-color: #51514f; grey
  background-color: #030303; black
} */

